{% extends '../layoutpage.njk' %}

{% block main %}
  <form action="/sample/addone" method="post" class="">
    <div class="container">
      <div class="row mb-1">
        <div class="col-12">
          <label for="title" class="form-label text-primary">Title</label>
          <input type="text" name="title" id="title" class="form-control" placeholder="Title" aria-label="Title">
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-12">
          <label for="body" class="form-label text-primary">Body</label>
          <textarea name="body" id="body" class="form-control" placeholder="Body" aria-label="Body" rows="3"></textarea>
        </div>
      </div>
      <div class="mb-3">
        <label for="data"" class="form-label text-primary">Data</label>
        <textarea class="form-control" id="data" name="data" placeholder="More text here..." rows="2"></textarea>
      </div>
      <div class="mb-1">
        <div class="row justify-content-end">
          <div class="col-1">
            <input type="reset" class="btn text-bg-danger" value="Cancel">
          </div>
          <div class="col-1">
            <input type="submit" class="btn text-bg-success" value="Save">
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
