<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/js/popper.min.js"></script>
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  <div style="margin: 100px 0 100px 200px;font-size: 15px;"> <span style="font-size: 24px;">Chooser</span><br>
    Pick the application you want to user:<br>
    1. Cenote is the app for managing your data. Notes, document and pictures.<br>
    2. URL Tracker is the app for managing your URLs<br>
    3. Expense tracking - expecially for when traveling abroad  <br>
    4. Keep a Diary - save notes for </div>
  <div style="border: 1px solid #999;border-radius: 4px;left: 200px;padding: 100px;">
    <a href="/note/start" class="card-link btn btn-warning btn-lg">&Ccedil;enot&acute;e - Managing Notes</a>
    <a href="/page/start" class="card-link btn btn-info btn-lg">URL Tracker - Manage your URLs</a>
    <a href="/expense/start" class="card-link btn btn-success btn-lg">Expense tracker</a>
    <a href="/diary/start" class="card-link btn btn-secondary btn-lg">Diary notes tracker</a>

  </div>
</body>

</html>
